*{
    margin: 0;
    padding: 0;
}



.cabeçario-1{
    
    background-color: #7A8194;
    color: #FFFCFA;
    
}
.cabeçario-pricipal{
    width: 14%;

}
.cabeçario-2{
    background-color: #FFFCFA;
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
    font-size: 24px;


}
.intem{
    margin: 0 16px;
    display: inline-block

    
}